.container {
  height: calc(100vh - $point-3 * 2);
  background-image: url("/backgroundPic.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: $point-3;

  padding: $point-3;
  & .gradient {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(217, 217, 217, 0) 22.5%,
      #737373 100%
    );
  }
  & .img {
    width: 256px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap: $point-3;
  }

  & .texts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: $point;

    & .title,
    & .subtitle {
      text-align: center;
      color: $primary;
    }
  }

  & .button {
    margin-top: auto;
    background-color: #0f0f0f;
    color: #f1f1f1;
  }
}
