// spacing
$point: 8px;
$point-2: 16px;
$point-3: 24px;
$point-4: 32px;

// colors
$primary: #1f1f1f;
$primary-60: rgba(#1f1f1f, 0.6);
$white: #f8f8f8;
$white-80: rgba(#f8f8f8, 0.8);

$yellow: #c6c1af;

$grey-1: #a7a7a7;
$grey-2: #d9d9d9;

// radius
$radius: 8px;
$radius-2: 16px;
$radius-3: 24px;
