.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  gap: $point-2;

  & .icon {
    width: 56px;
    height: 56px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
      width: 32px;
      height: 32px;
    }
  }

  & .texts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: $point;

    
    & .title,
    & .description {
      color: $primary;
    }
  }
}
